In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv(r'C:\Users\lokes\Desktop\unternehmer tum project\monatszahlen2510_verkehrsunfaelle_30_10_25.csv')

In [5]:
data.head(10)

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
0,Alkoholunfälle,insgesamt,2025,202501,NaN,24.0,NaN,NaN,NaN
1,Alkoholunfälle,insgesamt,2025,202502,NaN,28.0,NaN,NaN,NaN
2,Alkoholunfälle,insgesamt,2025,202503,NaN,25.0,NaN,NaN,NaN
3,Alkoholunfälle,insgesamt,2025,202504,NaN,38.0,NaN,NaN,NaN
4,Alkoholunfälle,insgesamt,2025,202505,NaN,32.0,NaN,NaN,NaN
5,Alkoholunfälle,insgesamt,2025,202506,NaN,55.0,NaN,NaN,NaN
6,Alkoholunfälle,insgesamt,2025,202507,NaN,45.0,NaN,NaN,NaN
7,Alkoholunfälle,insgesamt,2025,202508,NaN,47.0,NaN,NaN,NaN
8,Alkoholunfälle,insgesamt,2025,202509,NaN,46.0,NaN,NaN,NaN
9,Alkoholunfälle,insgesamt,2025,202510,NaN,37.0,NaN,NaN,NaN

In [ ]:
data.shape

(2352, 9)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2352 entries, 0 to 2351
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MONATSZAHL                      2352 non-null   object
 1   AUSPRAEGUNG                     2352 non-null   object
 2   JAHR                            2352 non-null   int64
 3   MONAT                           2352 non-null   object
 4   WERT                            2268 non-null   float64
 5   VORJAHRESWERT                   2268 non-null   float64
 6   VERAEND_VORMONAT_PROZENT        2092 non-null   float64
 7   VERAEND_VORJAHRESMONAT_PROZENT  2183 non-null   float64
 8   ZWOELF_MONATE_MITTELWERT        2100 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 165.5+ KB

In [ ]:
data.isnull().sum()

MONATSZAHL                          0
AUSPRAEGUNG                         0
JAHR                                0
MONAT                               0
WERT                               84
VORJAHRESWERT                      84
VERAEND_VORMONAT_PROZENT          260
VERAEND_VORJAHRESMONAT_PROZENT    169
ZWOELF_MONATE_MITTELWERT          252
dtype: int64

In [17]:
data.columns

Index(['MONATSZAHL', 'AUSPRAEGUNG', 'JAHR', 'MONAT', 'WERT', 'VORJAHRESWERT',
       'VERAEND_VORMONAT_PROZENT', 'VERAEND_VORJAHRESMONAT_PROZENT',
       'ZWOELF_MONATE_MITTELWERT'],
      dtype='object')